body,p
{
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-size : 10pt;
}

body
{
	background-color : #E2DCCA;
	background-image : url( parchment.jpg );
}

textarea
{
	white-space : pre;
	font-size : 8pt;
	background-color : #F3EBE4;
}

.mainTable
{
	background-color : #F2ECDA;
	background-repeat : no-repeat;
	background-position : center center;
	border : 1px solid black;	
	width : 640px;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.divtogglebtn
{
	font-size : 8pt;
	width : 15px;
}

.divQuickResult
{
	font-weight : 900;
}

.heading
{
	padding-left : 5px;
	font-size : 14pt;
	font-weight : 900;
}

.legal
{
	font-size : 8pt;
	color : #928C7A;
	text-align : center;
}

.busyNotification
{
	color : #FF0000;
	font-weight : 900;
}

.result
{
	font-size : 16pt;
	font-weight : 900;
	vertical-align : middle;
}


.myRolls
{
	background-color : #E2DCCA;
	border : 1px solid black;
}

.myRolls td,th
{
	background-color : #D2CCBA;
	border : 1px solid black;
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 2px;
	padding-bottom : 2px;
}


.myRollName
{
	font-weight : 900;
}

.myRollDescription
{
	font-size : 8pt;
}

.myRollResult
{
	width : 60px;
	font-size : 16pt;
	text-align: center;
}

.fullRollTable
{
	background-color : #E2DCCA;
	border : 1px solid black;
}

.fullRollTable td,th
{
	background-color : #D2CCBA;
	border : 1px solid black;
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 2px;
	padding-bottom : 2px;
}

.fullRollDescription
{
	font-size : 8pt;
}

.fullRollResult
{
	width : 60px;
	text-align : center;
	vertical-align : middle;
}

.quickRollTable
{
	background-color : #E2DCCA;
	border : 1px solid black;
	
}

.quickRollTable td
{	
	width : 50px;
	text-align : center;
}

.quickRollTable td,th
{
	background-color : #D2CCBA;
	border : 1px solid black;
	padding-left : 1px;
	padding-right : 1px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.resultTable
{
	background-color : #E2DCCA;
	border : 1px solid black;
}

.resultTable td
{
	text-align : center;
}

.resultTable td,th
{
	background-color : #D2CCBA;
	border : 1px solid black;
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
	padding-bottom : 5px;
}

.sectionTable
{
	padding-top : 10px;
	padding-bottom : 5px;
	table-layout : fixed;
	width : 95%;
}
.sectionTable td
{
	vertical-align : top;
}

.sectionContent
{
	padding-bottom : 15px;
}

.sectionCellL
{
	background-image : url( vertline.png );
	width : 15px;
	height : 100%;
	vertical-align : top;
}

.sectionCellBL
{
	height : 15px;
	background-image : url( blcorner.png );
}

.sectionCellB
{
	height : 15px;
	background-image : url( horizline.png );
}


#counterForm 
{
    text-align: left;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 2%;
}
.qty 
{
    width: 40px;
    height: 25px;
    text-align: center;
}
input.qtyplus { width:25px; height:25px;}
input.qtyminus { width:25px; height:25px;}


#rotating-item-wrapper {
    position: relative;
    width: 980px;
    height: 347px;
}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}


